<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input #input (keyup)="buscarMedico(input.value)" type="text" class="form-control" placeholder="Buscar Médico ...">

            </div>
        </div>
    </div>
</div>

<div *ngIf="cargando" class="row animated fadeIn">
    <div class="col-sm-12">
        <div class="alert alert-warning text-center">
            <strong>Cargando ...</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br>
            <span>Espere por favor</span>
        </div>
    </div>
</div>

<div *ngIf="!cargando" class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-row-reverse">
                    <!--Al hacer click en el botón "Crear Médico" el routerLink [routerLink]="['/medico', 'nuevo']" me redirecciona a la ruta 'medico/nuevo' y carga el componente MedicoComponent-->
                    <button [routerLink]="['/medico', 'nuevo']" type="button" class="btn waves-effect waves-light btn-rounded btn-primary"> <i class="fa fa-plus"></i> Crear Médico</button>
                </div>
                <h3 class="card-title">Médicos Registrados ( <small>{{totalMedicos}}</small> )</h3>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Foto</th>
                            <th>Médico</th>
                            <th>Hospital</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let medico of medicos">
                            <td class="w70"><img [src]="medico.img | imagen:'medico'" class="img50 img-circle"></td>
                            <td>{{medico.nombre}}</td>
                            <td>{{medico.hospital.nombre}}</td>
                            <td>
                                <!--Al hacer click en este botón el routerLink [routerLink]="['/medico', medico._id]" me redirecciona a la ruta 'medico/id_del_medico_seleccionado' y carga el componente MedicoComponent-->
                                <button [routerLink]="['/medico', medico._id]" class="btn btn-primary"><i class="fa fa-save"></i></button>
                                <button (click)="borrarMedico(medico)" class="btn btn-danger ml-2"><i class="fa fa-trash-o"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <button (click)="cambiarDesde(-5)" class="btn btn-secundary">Anteriores</button>
                <button (click)="cambiarDesde(5)" class="btn btn-secundary ml-2">Siguientes</button>

            </div>
        </div>
    </div>
</div>