<div class="fondo-negro animated fadeIn" [ngClass]="modalUploadService.oculto">

    <div class="modal" style="display: block;" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Seleccionar Imagen</h5>
                    <button (click)="cerrarModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                </div>
                <div class="modal-body text-center">

                    <img *ngIf="!imagenTemporal" [src]="abc | imagen" class="w150">
                    <img *ngIf="imagenTemporal" [src]="imagenTemporal" class="w150">
                    <!--El argumento de la función '$event.target.files[0]' es el archivo de tipo file seleccionado-->
                    <input (change)="seleccionImagen($event.target.files[0])" type="file">

                </div>
                <div class="modal-footer">
                    <button (click)="cerrarModal()" type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button (click)="subirImagen()" [disabled]="!imagenTemporal" type="button" class="btn btn-primary">Guardar Imagen</button>
                </div>
            </div>
        </div>
    </div>

</div>